build==1.2.1
cfgv==3.4.0
distlib==0.3.8
filelock==3.14.0
identify==2.5.36
iniconfig==2.0.0
nodeenv==1.8.0
packaging==24.0
platformdirs==4.2.1
pluggy==1.5.0
pre-commit==3.7.1
pyproject_hooks==1.0.0
pytest==8.2.0
PyYAML==6.0.1
ruff==0.4.4
setuptools==69.5.1
virtualenv==20.26.1
